.dropdown{
    border-radius: 5px;
    margin: 30px 50px 30px 0px;
    user-select: none;
}

 .dropdown-button {
    color: white;
    width: 246px;
    border-radius: 10px;
    background-color: #555;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
}



.dropdown-content{
    margin-top: 10px;
    width: 280px;
    height: 110px;
    position: absolute;
    color: white;
    background-color: #8f8b8b;
    border-radius: 5px;
    overflow: auto;
}

.dropdown-item{
    margin: 5px 5px 5px 5px;
    padding:5px;
    cursor:pointer;
    border-bottom: 1px solid black;
}

.dropdown-item:hover{
    background-color: #b6b0b0;
    border-radius: 5px;
}
